<mat-card >
  <mat-card-title>Bejelentkezés</mat-card-title>
  <mat-card-content>
    <div class="login-form">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Jelszó</mat-label>
        <input matInput placeholder="Jelszó" type="password" [(ngModel)]="password">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="login()" color="primary">Bejelentkezés</button>
    <button mat-button routerLink="/registration" color="primary">Regisztáció</button>
  </mat-card-actions>
</mat-card>
